/*.button {*/
/*    font-size: 0.8rem;*/
/*    padding: 0.2rem;*/
/*    margin: 0.1rem;*/
/*    border-radius: 0.5rem;*/
/*    border: 0.1rem #404040 solid;*/
/*    background-color: #f0c040;*/
/*    width: 100%;*/
/*    cursor: pointer;*/
/*}*/
/*.button.add {*/
/*    background-color: #40c0f0;*/
/*    width: 1.5rem;*/
/*}*/

/*.button.remove {*/
/*    background-color: #f04040;*/
/*    width: 1.5rem;*/
/*}*/

/*.button.badge {*/
/*    background-color: #f04040;*/
/*    border: none;*/
/*    color: #ffffff;*/
/*    width: 1.5rem;*/
/*}*/
._3-CbwQ {
    font-size: 14px;
    padding: 3px 6px;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: red;
}
._34CHXV {
    color: #757575;
    width: 110px;
    text-transform: capitalize;
    flex-shrink: 0;
    align-items: center;
}
.label {
    cursor: default;
}
.product_price {
    font-size: 1.875rem;
    font-weight: 500;
    color: red;
}

.btn.btn-tinted {
    position: relative;
    overflow: visible;
    outline: 0;
    background: rgba(208,1,27,.08);
}
._8ULUF3 {
    background: red;
}
.ant-spin-container1 {
    left: 200px;
}
/*.ant-list-item {*/
/*    min-height: 200px;*/
/*    width: 75%;*/
/*}*/
.col-12 col-lg-5 img-fluid {
    padding-right: 0;
}
.col-12 col-lg-5 mt-5 {
    padding-left: 0;
}
.col-lg-5 {
    flex: inherit;
}
.gia {
    font-size: 30px!important;
    color: red!important;
}

#productImage {
    width: 500px;
    height: 500px;
}

#productImage > .ant-image-img {
    width: 100%;
    height: 100%;
}
