/* .container {
    width: 100%;
    margin: 0px;
} */

.card-item-custom:hover {
    border-color: cadetblue !important;
    border-width: 2px;
}

.ant-body-child-content {
    padding: 8px;
}
.ant-card-body {
    padding: 0px !important;
}

#pagination {
    text-align-last: center;
} 

.ant-card-meta-title {
    white-space: pre-line !important;
    font-size: small !important;
}
.ant-list {
    width: 100% !important;
}

#right-panel {
    flex-basis: min-content !important;
}

.ant-pagination-item-active {
    border-color: green !important;
}
.row {
    /* width: 110% !important; */
    height: 90%;
}

.ant-list-header {
    background-color: #F7F7F7 !important;
}

ul.ant-list-items > li:nth-child(even){
    background: #F7F7F7 !important;
}

div.ant-spin-container > div.ant-row {
    display: -webkit-inline-flex;
    flex-wrap: wrap !important;
    /* position: absolute; */
    /* flex-flow: wrap !important; */
}

@media screen and (max-width: 768px) {
    .ant-row {
        display: block !important;
    }
  }

div.ant-list-item {
    padding: 4px;
}

.name {
    font-size: 16px;
}



.price {
    font-size: 22px;
    color: brown;
}


.list-child {
    /* border: 8px; */
    border-width: 2px;
}

.listRow {
    margin: 4px;
    border-style: solid;
    width: 100%;
    border-width: 1px;
    height: 240px;
}

/* List view */
.ant-list-item-meta-title > a {
    font-size: 24px;
}
.ant-list-item-meta-description {
    font-size: 18px !important;
}

.listItem {
    /* height: 25vH; */
}

/* menu */
#menu {

}

#menu > #view-option {
    float: right;
    position: relative;
    right: 10px;
    bottom: 6px;
    
    
}

#menu > #search-box {
    float: left;
    position: relative;
    width: 100% !important;
    -webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important;
    top: 24px;
    left: 16px;
}

.ant-select:focus {
    width: 150% !important;
    background-color: antiquewhite !important;

}

.ant-select-selector:focus {
    width: 150% !important;
    background-color: antiquewhite !important;

}

.ant-select-auto-complete:focus {
    background-color: antiquewhite;
}

#rc_select_0 {
    background-color: aliceblue;

}
#rc_select_0:focus {
    width: 150% !important;
    background-color: antiquewhite;

}