/* .container {
    width: 100%;
    margin: 0px;
} */
#pagination {
    text-align-last: center;
} 

.ant-card-meta-title {
    white-space: pre-line !important;
    font-size: small !important;
}
.ant-list {
    width: 100% !important;
}
.ant-pagination-item-active {
    border-color: green !important;
}
.row {
    /* width: 110% !important; */
    height: 90%;
}

#category:nth-child(even) {
    background: red;
}
.ant-list-header {
    background-color: #F7F7F7 !important;
}

ul.ant-list-items > li:nth-child(even){
    background: #F7F7F7 !important;
}