.container {
    position: relative;
    text-align: justify;
}

.bio {
    text-justify: auto;
    color: rgb(63, 63, 63);
    background-color: rgb(255, 252, 249);
}

.h2 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 20px;
    font-style: italic;
}

.h2::after {
	position: absolute;
	content: '';
	width: 50px;
	bottom: -6px;
	height: 2px;
	background-color: #666;
	left: 0;
}
